* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

.contenedor {
    max-width: 1200px;
    margin: 0 auto;
}
#sectionBtn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
input{
    width: 100%;
    text-align: center;
    height: 30px;
}
@media (min-width: 768px) {
    input{
        float: right;
        text-align: left;
    }
    #sectionBtn{
        display: flex;
        flex-direction: row;
        align-items: right;
        justify-content: end;
        
    }
}

h1 {
    text-align: center;
}


#btn {
    background-color: blue;
    color: white;
    padding: 7px 10px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    float: right;
    width: 100%;
}
@media (min-width: 768px) {
    #btn, input{
        width: auto;
    }
}

#btn:hover {
    cursor: pointer;
    background-color: green;
}

table {
    margin-top: 40px;
    width: 100%;
    text-align: center;
    font-size: small;
    border-collapse: collapse;
}

tr {
    display: flex;
    flex-direction: column;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    padding: 5px; 
    color: white;
    background-color: rgb(21, 119, 39);
}
@media (min-width: 768px) {
    tr{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        
    }
}
td{
 font-size: 20px;
}
